/* ==========================================================================
   Utility Classes - For each page
   ========================================================================== */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================================================================
   Layout Elements
   ========================================================================== */

.page__screen-wrapper {
  display: flex;
  flex-direction: column;
}

.page__main-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  @media (min-width: 1080px) {
    align-items: center;
  }

  @media (min-width: 1920px) {
    height: 1080px;
  }
}

.page__main-insert {
  background: var(--bg-page);
  width: 100%;
  height: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1080px) {
    max-width: 1920px;
    max-height: 1080px;
  }

  @media (min-width: 1920px) {
    max-width: 1920px;
    max-height: 1080px;
  }

  @media (min-width: 1921px) {
    border-radius: var(--radius-lg);
  }
}

/* ==========================================================================
   App Layout Elements
   ========================================================================== */

.app-layout__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 100vw;
  overflow: hidden;

  @media (min-width: 1080px) {
    flex-direction: row;
    height: 100%;
    overflow-y: auto;
  }
}

/* ==========================================================================
   Desktop Layout Elements
   ========================================================================== */

.desktop-layout__main {
  @media (min-width: 1081px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
  }
}
