/* ==========================================================================
   App Layout Block
   ========================================================================== */

.app-layout {
  display: grid;
  /* width: 100vw;
  height: 100dvh; */
  width: 100%;
  height: 100%;
  overflow: hidden;
  grid-template-rows: 60px 1fr 64px;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "menu";

  @media (min-width: 768px) {
    width: 100%;
    height: 100%;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas:
      "menu header"
      "menu main";
  }
}

/* ==========================================================================
   App Layout Elements
   ========================================================================== */

.app-layout__header {
  grid-area: header;
  overflow: visible;
  z-index: var(--z-dropdown);
}

.app-layout__menu {
  grid-area: menu;
  overflow: hidden;
  z-index: calc(var(--z-dropdown) - 1);
}

.app-layout__main {
  grid-area: main;
  overflow-y: auto;
  overflow-x: hidden;
}
