/* ==========================================================================
   App Layout Elements
   ========================================================================== */

.app-layout__main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1080px;
  min-height: 100dvh;
  overflow-y: auto;
  overflow-x: hidden;

  @media (min-width: 1080px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
  }
}

.main-desktop {
  height: calc(100% - 60px);

  @media (min-width: 1080px) {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
    height: 100vh;
  }
}
