/* ==========================================================================
   Utility Classes - For each page
   ========================================================================== */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================================================================
   Layout Elements
   ========================================================================== */

.page__screen-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__main-wrapper {
  display: flex;
  height: 100vh;

  @media (min-width: 1080px) {
    align-items: center;
  }

  @media (min-width: 1920px) {
    height: 1080px;
  }
}

.page__main-insert {
  background: var(--bg-page);

  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 1080px) {
    /* ------------------------ */
    /* TODO TEST */
    height: 100vh;
    max-height: 1080px;
    /* ------------------------ */
    max-width: 1920px;
    /* max-height: 1080px; */
  }

  @media (min-width: 1920px) {
    max-width: 1920px;
    max-height: 1080px;
  }

  @media (min-width: 1921px) {
    border-radius: var(--radius-lg);
  }
}

/* ==========================================================================
   App Layout Elements
   ========================================================================== */

.app-layout__main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100vw;
  /* ------------------------ */
  height: 100%;
  /* min-height: 100dvh; */
  /* ------------------------ */

  @media (min-width: 1080px) {
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 100dvh;
  }
}

/* ==========================================================================
   Desktop Layout Elements
   ========================================================================== */

.desktop-layout__main {
  @media (min-width: 1080px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* ------------------------ */
    height: 100%;
    /* height: 100vh; */
    /* ------------------------ */
  }
}
